
.read-more {
    border: none;
    padding: 8px 20px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #f79628;
    color: white;
    font-weight: 600;
}


.read-more {
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
}

.read-more::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.read-more::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.read-more:hover::before {
    opacity: 1;
}

.read-more:active:after {
    background: transparent;
}

.read-more:active {
    color: #000;
    font-weight: bold;
}



#submitbtn{
    background-color: rgb(125, 5, 204);
}

#contactlogo:hover{
    /* filter: drop-shadow(30px 10px 4px #4444dd); */
    transition: 1s all;
    filter: drop-shadow(0 0 10px rgb(240, 153, 240));
}

.ge:hover{
    transition: 1s all;
    filter: drop-shadow(0 0 10px rgb(240, 153, 240));
}
#landing{
    background-image: url("../final_photo.jpg");
}

#landing h1{
    filter: drop-shadow(0 0 5px white);
}
#landing p{
    filter: drop-shadow(0 0 2px black);
}
#landing a{
    filter: drop-shadow(0 0 2px white);
}

.box{
    box-shadow: 0 0 10px black;
}
#main-logo{
    filter: drop-shadow(0 0 10px white);
}


#main-logo:hover{
    transition: 1s all;
    filter: drop-shadow(0 0 12px rgb(200, 217, 253));
}